body {
  padding-top: 70px;
  //padding-bottom: 20px;
}

.footer-fixed {
      	position: fixed;
      	left: 0px;
      	right: 0px;
      	bottom: 0px;
      }
 .content-ul {
 	font-size: 16px;
 }
 .div-bg {
 	min-height:400px;
 	background-size:cover;
 	background-position: center;
 }
 .container-margin-top {
 	padding-top: 60px;
 }

 .container-margin-bottom {
 	padding-bottom: 60px;
 }

 .footer-margin-top {
 	margin-top: 15px;
 }